{{ define "main" }}

{{ if .Site.Params.disableHeroVideo }}
<section class="hero" id="hero">
  {{ $hero := resources.GetMatch "/assets/imgs/hero.*" }}
  {{ $heroResize := $hero.Resize "999x webp"}}
  <img src="{{ $heroResize.RelPermalink }}" alt="Hero Image" class="hero-image" loading="lazy">
</section>
{{ else }}
<section class="hero-vid" id="hero-vid">
  <div class="hero-vid-container">
    {{ $video := resources.Get "/assets/hero/bg.mp4" }}
    <video autoplay muted loop playsinline>
      <source src="{{ $video.RelPermalink }}" type="video/mp4">
    </video>
  </div>
</section>
{{ end }}

<section class="about" id="about">
  <div class="about-intro">{{ .Site.Params.intro }}</div>
  <div class="about-social">
    <ul class="about-social-links">
      {{ range .Site.Params.social.links }}
      <li>
        <a href="{{ .url }}" target="_blank" rel="noopener noreferrer" aria-label="{{ .name }}">{{ .name }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
</section>
<section class="section-title">
  <div id="switchWritings" onclick="homeTabSwitch('writings')">{{ index $.Site.Data.l10n "writings" }}</div>
  <span class="separator"></span>
  <div id="switchProjects" onclick="homeTabSwitch('projects')">{{ index $.Site.Data.l10n "projects" }}</div>
</section>

<section class="writings" id="writings">
  {{ $pages := where .Site.RegularPages "Type" "writings" }}
  {{ $grouped := $pages.GroupByDate "2006" }}
  {{ $paginator := .Paginate $grouped }}

  {{ range $paginator.PageGroups }}
  <div class="writings-list">
    {{ range .Pages }}
    <div class="writings-item">
      <div class="writings-date">{{ .Date | dateFormat "2006-01-02" }}</div>
      <div class="writings-title" style="border-bottom: none;">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ $summary := .Content | plainify | truncate 120 "..." }}
        <p>{{ $summary }}</p>
      </div>
    </div>
    {{ end }}
  </div>
  {{ end }}
  {{ partial "pagination.html" . }}
</section>

<section class="projects" id="projects">
  <div class="projects-list">
    {{ range .Site.Params.projects.links }}
    <div class="projects-item">
      <div class="projects-title">
        <div class="projects-title-content"><a href="{{ .url }}" target="_blank" rel="noopener">{{ .name }}</a><span>[
            {{ .start_date }}{{ with .license }} | {{ . }}{{ end }} ]</span></div>
        <div class="projects-title-desc">{{ .desc }}</div>
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}